// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

// ===== VARIABLES CSS =====
:root {
  // header height
  --header-height: 6rem;

  // color palette
  --white-color: #fff;
  --red-color: #ea3a60;
  --black-color: #0f2137;
  --dark-grey-color: #343d48;

  // font global
  --font-global: "DM Sans", sans-serif;

  // font weight
  --font-reguler: 400;
  --font-medium: 500;
  --font-bold: 700;

  // margin
  --margin-0-5: 0.5rem;
  --margin-1: 1rem;
  --margin-1-5: 1.5rem;
  --margin-2: 2rem;
  --margin-2-5: 2.5rem;
  --margin-3: 3rem;
  --margin-3-5: 3.5rem;
  --margin-4: 4rem;

  // z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  // transition
  --transition-300: 0.3s;
  --transition-400: 0.4s;

  // line-height
  --leading-text: 1.7;
  --leading-title: 1.5;
}

// ===== BASE & RESET =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-global);
  font-weight: var(--font-reguler);
  background-color: var(--white-color);
  letter-spacing: -0.98px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

button,
input {
  font-family: var(--font-global);
  font-weight: var(--font-reguler);
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 var(--margin-1);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0;

  &-subtitle,
  &-title {
    text-align: center;
  }

  &-subtitle {
    display: block;
    font-size: 14px;
    font-weight: var(--font-bold);
    color: var(--red-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-title {
    font-size: 24px;
    font-weight: var(--font-bold);
    color: var(--black-color);
  }
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: var(--transition-400);

  // ===== STICKY HEADER =====
  &.sticky-header {
    height: var(--header-height);
    box-shadow: 0 1px 8px rgba($color: #343d48, $alpha: 0.25);
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    &-icon {
      display: inline-flex;
      width: 30px;
    }

    &-text {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      background-color: var(--white-color);
      padding: 3rem 0;
      display: grid;
      grid-template-rows: repeat(2, max-content);
      gap: 3rem;
      box-shadow: -1px 0 8px rgba($color: #343d48, $alpha: 0.25);
      transition: var(--transition-400);
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    min-height: 48px;
    background: transparent;
    font-size: 15px;
    color: var(--black-color);

    &.active-link {
      position: relative;
      font-weight: var(--font-medium);
      color: var(--red-color);
      background-color: #f8f8f8;

      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--red-color);
      }
    }
  }

  &__toggle,
  &__close {
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--black-color);
    cursor: pointer;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 1rem 2rem;
    border: 2px solid var(--red-color);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: var(--font-bold);
    color: var(--red-color);
    margin: 0 2rem;
    transition: var(--transition-400);

    &:hover {
      background-color: var(--red-color);
      color: var(--white-color);
    }
  }

  // ===== SHOW HEADER MENU =====
  .show-menu {
    right: 0;
  }
}

// ===== HOME SECTION =====
.home {
  position: relative;
  padding: 8rem 0 4.5rem;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 100%;
    z-index: var(--z-back);
    background-image: url(../img/home-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 36%;
  }

  &::after {
    right: 0;
    background-image: url(../img/home-pattern-2.svg);
    background-position: bottom right;
  }

  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: 34px;
    font-weight: var(--font-bold);
    color: var(--black-color);
    line-height: var(--leading-title);
    margin-bottom: var(--margin-1);
  }

  &__text {
    font-size: 15px;
    color: var(--black-color);
    line-height: var(--leading-text);
    margin-bottom: var(--margin-2);
  }

  &__button {
    display: inline-flex;
    padding: 1rem 2rem;
    background-color: var(--red-color);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: var(--font-bold);
    color: var(--white-color);
    transition: var(--transition-400);

    &:hover {
      box-shadow: 0 8px 8px rgba($color: #ea3a60, $alpha: 0.35);
    }
  }
}

// ===== FEATURES SECTION =====
.features {
  &__container {
    gap: 3rem;
  }

  &__group {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    display: grid;
    gap: 1.5rem;

    &-icon {
      width: 55px;
      justify-self: center;
      filter: drop-shadow(0 8px 4px rgba($color: #ea3a60, $alpha: 0.3));
    }

    &-data {
      text-align: center;
    }

    &-title {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: var(--dark-grey-color);
      line-height: var(--leading-text);
    }
  }
}

// ===== SERVICES SECTION =====
.services {
  &__container,
  &__content {
    gap: 3rem;
  }

  &__group {
    display: grid;
    gap: 2rem;
  }

  &__item {
    display: flex;
    gap: 1rem;

    &-icon {
      width: 55px;
      align-self: flex-start;
      filter: drop-shadow(0 8px 4px rgba($color: #ea3a60, $alpha: 0.3));
    }

    &-title {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: var(--dark-grey-color);
      line-height: var(--leading-text);
    }
  }

  &__overlay {
    position: relative;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }

    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-flex;
      padding: 0.7rem;
      background-color: rgba($color: #fff, $alpha: 0.25);
      border-radius: 50%;
      backdrop-filter: blur(10px);
      font-size: 3rem;
      color: var(--white-color);
      cursor: pointer;
    }
  }
}

// ===== ALL FEATURES SECTION =====
.all-features {
  &__container {
    gap: 3rem;
  }

  &__group {
    display: grid;
    grid-auto-columns: 0.9fr;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    &-icon {
      width: 55px;
      align-self: flex-start;
      filter: drop-shadow(0 8px 4px rgba($color: #ea3a60, $alpha: 0.3));
    }

    &-title {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: var(--dark-grey-color);
      line-height: var(--leading-text);
    }
  }
}

// ===== ABOUT SECTION =====
.about {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: var(--margin-1-5);
  }

  &__text {
    font-size: 15px;
    color: var(--dark-grey-color);
    line-height: var(--leading-text);
    margin-bottom: var(--margin-2);
  }

  &__button {
    display: inline-flex;
    padding: 1rem 2rem;
    background-color: var(--red-color);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: var(--font-bold);
    color: var(--white-color);
    transition: var(--transition-400);

    &:hover {
      box-shadow: 0 8px 8px rgba($color: #ea3a60, $alpha: 0.35);
    }
  }

  &__overlay {
    position: relative;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }
}

// ===== WORKS SECTION =====
.works {
  position: relative;
  background-color: var(--red-color);

  &__pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 90%;
  }

  .section-subtitle,
  .section-title {
    color: var(--white-color);
  }

  &__container {
    position: relative;
    gap: 3rem;
  }

  &__group {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    display: grid;
    gap: 1.5rem;

    &-icon {
      width: 55px;
      justify-self: center;
    }

    &-data {
      text-align: center;
    }

    &-title {
      font-size: 18px;
      color: var(--white-color);
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: var(--white-color);
      line-height: var(--leading-text);
    }
  }
}

// ===== PRICING SECTION =====
.pricing {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__switch {
    display: inline-flex;
    justify-self: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #f7f8fb;
    border-radius: 0.5rem;
    margin-top: var(--margin-2);

    &-monthly,
    &-annual {
      padding: 15px 20px;
      font-size: 15px;
      font-weight: var(--font-medium);
      background: transparent;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    .switch-active {
      background-color: var(--white-color);
      box-shadow: 0 2px 8px rgba($color: #343d48, $alpha: 0.1);
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.9fr));
    justify-content: center;
    gap: 2rem;
  }

  &__card {
    position: relative;
    display: grid;
    gap: 1.5rem;
    padding: 2.5rem 1.5rem;
    border: 1.5px solid rgba($color: #343d48, $alpha: 0.1);
    border-radius: 1rem;
    transition: var(--transition-400);

    &:hover {
      background-color: var(--white-color);
      border-color: var(--white-color);
      box-shadow: 0 4px 12px rgba($color: #343d48, $alpha: 0.1);
    }

    &-title {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: var(--margin-0-5);
    }

    &-text {
      font-size: 15px;
      color: var(--dark-grey-color);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-item,
    &-price {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-item,
    &-month {
      font-size: 15px;
      font-weight: var(--font-reguler);
      color: var(--dark-grey-color);
    }

    &-price {
      justify-self: center;
      font-size: 32px;
      font-weight: var(--font-bold);
      color: var(--black-color);
    }

    &-button {
      display: flex;
      justify-content: center;
      padding: 1rem 2rem;
      background-color: var(--red-color);
      border-radius: 5rem;
      font-size: 15px;
      font-weight: var(--font-bold);
      color: var(--white-color);
      transition: var(--transition-400);

      &:hover {
        box-shadow: 0 8px 8px rgba($color: #ea3a60, $alpha: 0.35);
      }
    }
  }

  &__card:nth-child(3)::before {
    position: absolute;
    content: "Suggested";
    top: -1rem;
    left: 2rem;
    font-size: 15px;
    font-weight: var(--font-medium);
    color: var(--white-color);
    padding: 5px 12px;
    background-color: #ffa740;
    border-radius: 7px;
  }
}

// ===== TEAM SECTION =====
.team {
  &__container {
    gap: 3rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__item {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: var(--transition-400);

    &:hover {
      box-shadow: 0 4px 12px rgba($color: #343d48, $alpha: 0.1);
    }

    &-profile {
      width: 70px;
      justify-self: center;
    }

    &-data {
      text-align: center;
    }

    &-name {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: 5px;
    }

    &-profession {
      font-size: 14px;
      color: var(--dark-grey-color);
      margin-bottom: 10px;
    }

    &-social {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-link {
      display: inline-flex;
      font-size: 1.1rem;
      color: var(--dark-grey-color);

      &:hover {
        color: var(--red-color);
      }
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  &__data {
    margin-bottom: 3rem;
  }

  &__container {
    overflow: hidden;
  }

  &__content {
    display: grid;
    gap: 2rem;
    width: 340px;
    padding: 2rem;
    border: 1.5px solid rgba($color: #343d48, $alpha: 0.1);
    border-radius: 1rem;

    &-icon {
      display: inline-flex;
      gap: 0.3rem;
      font-size: 1.2rem;
      color: var(--red-color);
      margin-bottom: 15px;
    }

    &-title,
    &-name,
    &-sosmed {
      font-size: 15px;
      font-weight: var(--font-bold);
    }

    &-title,
    &-name {
      color: var(--black-color);
    }

    &-comment {
      font-size: 15px;
      color: var(--dark-grey-color);
      line-height: var(--leading-text);
    }

    &-profile {
      display: inline-flex;
      align-items: center;
      gap: 0.8rem;
    }

    &-img {
      width: 55px;
    }

    &-sosmed {
      color: var(--red-color);
      margin-top: 5px;
    }
  }

  // Pagination Icon
  .swiper-pagination {
    position: initial;
    margin-top: 2rem;

    &-bullet {
      width: 6px;
      height: 6px;
      background-color: #ededed;
      opacity: 1;
    }

    &-bullet-active {
      width: 1.5rem;
      height: 6px;
      border-radius: 0.5rem;
      background-color: var(--red-color);
    }
  }
}

// ===== BLOG SECTION =====
.blog {
  &__data {
    margin-bottom: var(--margin-3);
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba($color: #343d48, $alpha: 0.1);
    transition: var(--transition-400);
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 8px rgba($color: #343d48, $alpha: 0.25);

      .blog__item-img {
        transform: scale(1.1);
      }
    }

    &-overlay {
      overflow: hidden;
      height: 250px;
    }

    &-img {
      width: 100%;
      height: 100%;
      transition: var(--transition-400);
    }

    &-data {
      padding: 2rem 1.5rem;
    }

    &-title {
      font-size: 20px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: var(--margin-1);
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-uploder {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--red-color);
    }

    &-date {
      font-size: 15px;
      color: var(--dark-grey-color);
    }
  }

  &__button {
    display: inline-flex;
    justify-self: center;
    padding: 1rem 2rem;
    background-color: var(--red-color);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: var(--font-bold);
    color: var(--white-color);
    transition: var(--transition-400);
    margin-top: var(--margin-2);

    &:hover {
      box-shadow: 0 8px 8px rgba($color: #ea3a60, $alpha: 0.35);
    }
  }
}

// ===== NEWSLETTER SECTION =====
.newsletter {
  &__container {
    text-align: center;
    gap: 2rem;
    padding: 3.5rem 2rem;
    background-color: var(--red-color);
    border-radius: 1rem;
  }

  &__title {
    color: var(--white-color);
    margin-bottom: 15px;
  }

  &__text {
    font-size: 15px;
    color: var(--white-color);
    line-height: var(--leading-text);
  }

  &__direction {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-input {
      display: flex;
      text-align: center;
      padding: 1rem 2rem;
      background-color: var(--white-color);
      border-radius: 5rem;
      font-size: 15px;
      font-weight: var(--font-medium);
      color: var(--black-color);

      &::placeholder {
        font-size: 15px;
        font-weight: var(--font-medium);
        color: var(--red-color);
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      padding: 1rem 2rem;
      background-color: var(--black-color);
      border-radius: 5rem;
      font-size: 15px;
      font-weight: var(--font-bold);
      color: var(--white-color);
    }
  }
}

// ===== INFO SECTION =====
.info {
  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.7fr));
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    text-align: center;

    &-icon {
      display: inline-flex;
      width: 50px;
      margin-bottom: 15px;
    }

    &-title {
      font-size: 18px;
      font-weight: var(--font-bold);
      color: var(--black-color);
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: var(--dark-grey-color);
      line-height: var(--leading-text);
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  border-top: 1.5px solid rgba($color: #343d48, $alpha: 0.1);

  &__container {
    text-align: center;
    gap: 2rem;
  }

  &__logo {
    justify-self: center;
  }

  &__list {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
  }

  &__link,
  &__copy {
    font-size: 15px;
    color: var(--dark-grey-color);
  }
}

// ===== MEDIA QUERIES =====
// ----- width 480px -----
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }

  .home {
    &__data {
      width: 80%;
      margin: 0 auto;
    }

    &__title {
      font-size: 36px;
    }
  }

  .features__group {
    grid-template-columns: 0.6fr;
  }

  .services__group,
  .all-features__group {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }

  .about__data,
  .team__group {
    width: 80%;
    margin: 0 auto;
  }

  .blog__item-overlay {
    height: 300px;
  }

  .newsletter {
    &__direction {
      flex-direction: row;
      justify-content: space-between;
      padding: 0.3rem;
      background-color: var(--white-color);
      border-radius: 5rem;
      gap: 0;

      &-input {
        width: 80%;
        text-align: left;
        padding: 0 1.5rem;
      }

      &-button {
        background-color: var(--red-color);
      }
    }
  }
}

// ----- width 640px -----
@media screen and (min-width: 640px) {
  .section {
    &-title {
      font-size: 28px;
    }

    &-subtitle {
      font-size: 17px;
    }
  }

  .home {
    padding-top: 10rem;

    &::before,
    &::after {
      bottom: 140px;
    }

    &__data {
      width: 70%;
    }

    &__title {
      font-size: 42px;
    }

    &__text,
    &__button {
      font-size: 17px;
    }
  }

  .features__group,
  .all-features__group,
  .works__group {
    grid-template-columns: repeat(2, 1fr);
  }

  .features__item-icon,
  .works__item-icon {
    justify-self: left;
    width: 65px;
  }

  .features__item-data,
  .works__item-data {
    text-align: left;
  }

  .features__item-title,
  .services__item-title,
  .all-features__item-title,
  .works__item-title,
  .pricing__card-title,
  .team__item-name,
  .testimonial__content-title,
  .info__item-title {
    font-size: 20px;
  }

  .features__item-text,
  .services__item-text,
  .all-features__item-text,
  .about__text,
  .about__button,
  .works__item-text,
  .pricing__switch-monthly,
  .pricing__switch-annual,
  .pricing__card-text,
  .pricing__card-item,
  .pricing__card-button,
  .pricing__card-month,
  .team__item-profession,
  .testimonial__content-comment,
  .testimonial__content-name,
  .testimonial__content-sosmed,
  .blog__button,
  .newsletter__text,
  .newsletter__direction-button,
  .newsletter__direction-input,
  .newsletter__direction-input::placeholder,
  .info__item-text,
  .footer__link,
  .footer__copy,
  .header__link,
  .header__button {
    font-size: 17px;
  }

  .services__item,
  .all-features__item,
  .works__item,
  .team__item {
    gap: 1.5rem;
  }

  .services__item-icon,
  .all-features__item-icon,
  .info__item-icon {
    width: 65px;
  }

  .services__overlay-play {
    font-size: 3.5rem;
  }

  .about__data {
    width: 70%;
  }

  .team__item-profile {
    width: 100px;
  }

  .team__item-profession {
    margin-bottom: 15px;
  }

  .team__item-link,
  .testimonial__content-icon {
    font-size: 1.5rem;
  }

  .newsletter__container {
    padding: 4rem;
  }
}
